
.bg-main-color {
    background-color: var(--main-color);
}

.row-short {
    text-align: center;

}

.hero {
    min-height: 100vh;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed ;
}
.hero img {
    height: 30px;
    margin-bottom: 40px;
   

}
.hero h1 {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 54px;
    line-height: 60px;
}

.hero p {
    display: inline-block;
    width: 100%;
    margin-bottom: 60px;
    font-size: 18px;
    line-height: 22px;
}
.hero .clock {
    margin-bottom: 60px;
}
.hero form {
    margin-bottom: 20px;
}
.left-column {
    display: inline-block;
    width: 50%;
    float: left;
}
.right-column {
    display: inline-block;
    width: 40%;
    float: right;
}
main h2 {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    text-transform: uppercase;
}
main p {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    color: #777;
}
main p > a {
    color: var(--secondary-color);
    text-decoration:  none;
}

main p > a:hover {
    text-decoration:  underline;
}

@media (max-width: 900px) {
    .left-column {
       width: 100%;
       margin-bottom: 60px; 
    }
    .right-column {
       width: 100%;
    }
}

footer.container {
    padding-top: 0;
}
footer.container .socials {
    padding: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid #fff;
    text-align: center;
}
footer.container .socials > a {
    display: inline-block;
    width: 36px;
    height: 36px;
    margin: 2px;
    font-size: 20px;
    line-height: 36px;
    color: #fff;
    text-decoration: none;
    border-radius: 50%;
    transition: all 0.5s;
}
footer.container .socials > a:hover {
    background-color: #fff;
    color: var(--main-color);
}
footer img {
    display: inline-block;
    height: 40px;
    margin-bottom: 30px;
}
footer .bottom-texts {
    display: inline-block;
    width: 100%;
    color: #fff9;
}
footer .bottom-texts > p {
    display: inline-block;
    padding: 0 10px;
    line-height: 30px;
    position: relative;
}
footer .bottom-texts > p::before {
    content: '';
    display: inline-block;
    width: 2px;
    height: 16px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: -2px;
    transform: translate(0, -50%);
}
footer .bottom-texts > p:first-of-type::before {
    display: none;
}


footer .description {
     display: inline-block;
     width: 100%;
     color: #fff9;
     line-height: 30px;
}
footer p > a {
    color: #fff;
}

@media (max-width: 700px) {
    footer .bottom-texts > p {
        width: 100%;
    }
    footer .bottom-texts > p::before {
        display: none;
    }
}














