.mouse {
    display: inline-block;
    width: 160px;
    height: 260px;
    border: 20px solid #fff;
    border-radius: 80px;
}
.mouse > .wheel {
    display: inline-block;
    width: 20px;
    height: 30px;
    background-color: #fff;
    margin-top: 50px;
    animation-name: mouseMove;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes mouseMove {
    0% {
        background-color: #fff;
        margin-top: 50px;  
    }
    50% {
        background-color: #fff;
    }
    100% {
        background-color: #fff0;
        margin-top: 140px; 
    }













